# Virtual environment
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# Django static/media files
/static/
/media/

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
